<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
</head>
<body>
    <h1>Movies</h1>
    <form action = "/movie" method="post">
        <label>Title</label>
        <input type="text" name="title" required><br>
        <label>Year</label>
        <input type="Number" name="year" required><br>
        <label>Rating</label>
        <input type="Number" name="rating" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>